<p><h1>Evaluations Overview</h1></p>

<table>
  <tr>
    <th>Name</th>
    <th>Commitment to children</th>
    <th>Scholarship record</th>
    <th>Recommendations</th>
    <th>Motivation/goals</th>
    <th>Total</th>
  </tr>

  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.commitment_total %></td>
      <td><%= candidate.scholarship_total %></td>
      <td><%= candidate.recommendations_total %></td>
      <td><%= candidate.goals_total %></td>
      <td><%= candidate.total %></td>
    </tr>
  <% end %>
</table>

<p><h1>Your Evaluations</h1></p>

<p><a href="<%= url_for :new_evaluation %>" data-no-turbolink="true">Submit new evaluation</a></p>

<table>
  <tr>
    <th>Name</th>
    <th>Commitment to children</th>
    <th>Scholarship record</th>
    <th>Recommendations</th>
    <th>Motivation/goals</th>
    <th>Total</th>
    <th>Remarks</th>
  </tr>

  <% @evaluations.each do |evaluation| %>
    <tr>
      <td><%= evaluation.candidate.name %></td>
      <td><%= evaluation.commitment %></td>
      <td><%= evaluation.scholarship %></td>
      <td><%= evaluation.recommendations %></td>
      <td><%= evaluation.goals %></td>
      <td><%= evaluation.total %></td>
      <td><%= evaluation.remarks %></td>
    </tr>
  <% end %>
</table>

