<h1>Scholarship Candidate Evaluation</h1>

<p>
  <strong>Candidate</strong> <%= @evaluation.candidate.name %>
</p>

<p>
  <strong>Commitment to children: </strong> <%= @evaluation.commitment %>
</p>

<p>
  <strong>Scholarship record: </strong> <%= @evaluation.scholarship %>
</p>

<p>
  <strong>Recommendations: </strong> <%= @evaluation.recommendations %>
</p>

<p>
  <strong>Motivations/goals: </strong> <%= @evaluation.goals %>
</p>

<p>
  <strong>Total: </strong> <%= @evaluation.total %>
</p>

<p>
  <strong>Remarks: </strong> <%= @evaluation.remarks %>
</p>

